.even-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 100vh;
}

.even-odd-container {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  width: 450px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 42px;
  color: #0f172a;
}
.title {
  font-size: 26px;
  color: #334155;
}
.description {
  font-size: 12px;
  color: #1e293b;
}
button {
  font-size: 14px;
  padding: 8px;
  width: 130px;
  border-radius: 8px;
  border: none;
  font-family: 500;
}
